/* =========================================================
   CENTER TOP NAVIGATION
   ========================================================= */

.greedy-nav {
  text-align: center;
}

.greedy-nav .visible-links {
  display: inline-table;
  margin: 0 auto;
  text-align: left;
}